<!--
  Generated template for the Overview page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Overview</ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding>
  <!--<h3>Advanced Ionic 2 Components</h3>-->
  <!--<p>-->
    <!--This app aims to help developers speed up their development process and learn how components work. It would be really nice-->
    <!--if you checked out the <a href="https://github.com/yannbf/ionic2-components">repository</a> and contribute!-->
  <!--</p>-->
  <!--<p>-->
    <!--Also, the best way to understand the ionic framework is by reading the <a href="http://ionicframework.com/docs/v2">docs</a>,-->
    <!--which are really great.-->
  <!--</p>-->
  <!--<button class="pop-in" ion-button secondary menuToggle>Toggle Menu</button>-->


  <ion-list>
    <ion-list-header> Assets </ion-list-header>
    <div  *ngFor="let ast of asset;let i = index">
      <ion-item>
        {{ast.balance_sum | currency:ast.currency:true}}
        <ion-icon name="md-arrow-dropdown" item-right *ngIf="!asset_show[i]" (click)="asset_show[i]=!asset_show[i]"></ion-icon>
        <ion-icon name="md-arrow-dropup" item-right *ngIf="asset_show[i]" (click)="asset_show[i]=!asset_show[i]"></ion-icon>
      </ion-item>
      <ion-item [hidden]="!asset_show[i]">
        <!--<canvas #doughnutCanvas></canvas>-->
        <charts-custom [data]="ast.depositType"></charts-custom>
      </ion-item>
    </div>
  </ion-list>

  <ion-list>
    <ion-list-header> Liabilities </ion-list-header>
    <div *ngFor="let lablt of liability;let i = index">
      <ion-item>
        {{lablt.balance_sum | currency:lablt.balance_currency:true}}
        <ion-icon name="md-arrow-dropdown" item-right *ngIf="!liabiltiy_show[i]" (click)="liabiltiy_show[i]=!liabiltiy_show[i]"></ion-icon>
        <ion-icon name="md-arrow-dropup" item-right *ngIf="liabiltiy_show[i]" (click)="liabiltiy_show[i]=!liabiltiy_show[i]"></ion-icon>
      </ion-item>
      <ion-item [hidden]="!liabiltiy_show[i]">
        <charts-custom [data]="lablt.loanType"></charts-custom>
      </ion-item>
    </div>
  </ion-list>

</ion-content>
